
<h2>Beth Payne</h2>
  <div class="beth">
    <p> Photograhy is my tool, the conduit to produce what I want everyone else to be able to see.
    <br>
    I wander Portlad, looking for rust and peeling paint, cool graffiti, anything that catches my eye. I take multiple angles, I zoom in and pan out so everyone can see something different than the normal, the usual, the typical.
    <br>
    I want to show everyone that there's beauty in the dirt and grime, wonderful things to see that most people would ignore or overlook. I like how things rust away, because it's yet another life being created from destruction. I use my camera to show a different side of the world.
    <br>
    I love to display for this beautiful city of Portland. She loves to be amongst those who appreciate the beauty in the rust and dirt</p>
    <br>
    <h4> <a href="mailto:oridinarywonder@gmail.com">Contact</a></h4>
</div>
