<div class="container">
      <div class="flex-container">

        <% @photos.each do |photo| %>
        <div class="flex-item">
          <h3 class="small-image"><%= link_to photo.name, photo_path(photo)%><br><%= link_to(image_tag("#{photo.image.url})"), photo_path(photo)) %></h3>
        </div>
        <% end %>
  </div>
</div>
