<div class="container">
   <% if current_user %>
  <h2>Photos</h2>
  <ul>
    <% @photos.each do |photo| %>
    <li><h3><%= link_to photo.name, photo_path(photo)%><br><br>
      <%= image_tag "#{photo.image.url}" %></li></h3>
<% end %>
  </ul>
  
  <% end %>
</div>
