<div class="container">
  <% if current_user %>
    <div class="all">
      <ul>
        <% @photos.each do |photo| %>
        <div class="well">
          <li class="small-image"><h3><%= link_to photo.name, photo_path(photo)%><br><%= link_to(image_tag("#{photo.image.url})"), photo_path(photo)) %></li>
          </div>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
