/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.my-nav {
  width: 100%;
  margin-top: 2em;
  padding-bottom: 3em;
  border-bottom: solid 1px #333;
  padding-right: 30px;
  padding-left: 20px;
}
.my-nav ul {
  list-style: none;
  padding: 0;
}
.my-nav ul li {
  display: inline-block;
  float: right;
  font-size: 1.5em;
  margin-left: 3em;
}

ul {
  list-style: none;
  text-decoration: none;
}

 .my-nav h1 ul li a {
  color: #333;
  text-decoration: none;
 }

 a {
  color: #333;
  text-decoration: none;
 }

 a:hover {
  text-decoration: none;
  color: #333;

}

.form-group label {
  display: block;
  }

input, textarea {
  padding: 0.5em;
 }

body {
  padding-bottom: 200px;
  font-family: 'Raleway', sans-serif;
}

.main {
  padding-top: 20px;
}

.small-image  img  {
  width: 65%;
  border-radius: 15px;
  background-repeat: repeat;
  -webkit-box-shadow:0px -1px 25px rgba(0,0,0,0.5), 0px 1px 25px rgba(0,0,0,0.7);
  -moz-box-shadow:0px -1px 25px rgba(0,0,0,0.5), 0px 1px 25px rgba(0,0,0,0.7);
  box-shadow:0px -1px 25px rgba(0,0,0,0.5), 0px 1px 25px rgba(0,0,0,0.7);
}

.large-image img {
  width: 100%;
  border-radius: 12px;
  background-repeat: no-repeat;
  -webkit-box-shadow:0px -1px 25px rgba(0,0,0,0.5), 0px 1px 25px rgba(0,0,0,0.7);
  -moz-box-shadow:0px -1px 25px rgba(0,0,0,0.5), 0px 1px 25px rgba(0,0,0,0.7);
  box-shadow:0px -1px 25px rgba(0,0,0,0.5), 0px 1px 25px rgba(0,0,0,0.7);
}


p {
  font-size: 18px;
}

.beth {
  width: auto;
  height: 1000px;
  background-repeat: no-repeat;
  background-image: url("beth.jpg");
  background-size: cover;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 15px;
  -webkit-box-shadow:0px -1px 25px rgba(0,0,0,0.5), 0px 1px 25px rgba(0,0,0,0.7);
  -moz-box-shadow:0px -1px 25px rgba(0,0,0,0.5), 0px 1px 25px rgba(0,0,0,0.7);
  box-shadow:0px -1px 25px rgba(0,0,0,0.5), 0px 1px 25px rgba(0,0,0,0.7);
}

.beth p {
  color: white;
  font-size: 30px;
  font-weight: 100;
  line-height: 200%;

}

.beth a {
  color: white;
  text-decoration: none;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 1000px;
    height: 2000px;
 background-color: white;

}

.flex-item {
    width: 400px;
    // background-color: red;
    margin: 10px;
}
